* {
  font-family: 'Press Start 2P', cursive;
}

button {
    cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 300% 300%;
	background-image: linear-gradient(
        -45deg, 
        #53A6D8 0%, 
        #BCE6FF 25%, 
        #88CDF6 51%, 
        #53A6D8 100%
  );  
  animation: animateBG 10s ease infinite;
}
@keyframes animateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.right-bar{
  display: flex;
  flex-direction: column;
}
.room-field{
  display: inline;
  flex-direction: column;
  padding: 20px;
}
.code{
  height: 30px;
}
.room-field .submit-btn{
  height: 35px;
  width: 170px;
}

.game-container {
  display: none;
}

p {
  /* display: flex;
  flex-direction: column; */
}

.container {
  /* display: grid;
  grid-template-columns: 320px 200px; */
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: 0 30px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#board {
  border: 2px solid black;
  margin-right: 20px;
}
.home-btn{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -10px;
}
.home-btn a{
  background-color: greenyellow;
  
  font-size: 20px;
  text-decoration: none;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0 20px;
  margin-top: 10px;
  width: 130px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
}
.home-btn i{
  position: relative;
  top: -3px;
  font-size: 20px;
}
.play-btn {
  background-color: greenyellow;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0 20px;
}

.btn-field {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    padding-right: 0px;
}
.btn-field .create-btn{
  height: 35px;
  width: 170px;
}
.btn-field_end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-game {
  width: 100vw;
  height: 100vh;
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.end-text {
  opacity: 1;
  color: Red;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.out-btn {
  margin: 10px;
  width: 220px;
  height: 50px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border: solid 2px black;
}

h5{
  font-family: 'Press Start 2P', cursive;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  border: 2px solid black;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 30px;
  list-style-type: none;
  font-size: bold;
}

#gameCodeDisplay {
  letter-spacing: 2px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#username {
  padding-right: 10px;
  font-size: 20px;
  color: crimson;
}